<div>
  <mat-toolbar color="primary">
      <button [routerLink]="['']" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    
    <span>Snake - Single Player</span>
  </mat-toolbar>
  <canvas #gamecanvas id="game-canvas"></canvas>
  <mat-toolbar [style.background-color]="'#263238'">
      <button mat-raised-button color="primary" (click)="startGame()" [disabled]="gameRunning">Start</button> 
  </mat-toolbar>
</div>