<div>
  <canvas #maincanvas id="main-canvas"></canvas>

  <mat-card id="maincard">
    <mat-card-title>Snake</mat-card-title>
    <mat-card-subtitle>The angular kind</mat-card-subtitle>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item> 
          <button mat-raised-button color="primary" [routerLink]="['/game', '1']">Single Player</button> 
        </mat-list-item>
        <mat-list-item> 
          <button mat-raised-button color="primary" disabled>Host Multi Player</button> 
        </mat-list-item>
        <mat-list-item> 
          <button mat-raised-button color="primary" disabled>Join Multi Player</button> 
        </mat-list-item>
      </mat-list>    
    </mat-card-content>
  </mat-card>
</div>