#main-canvas {
  position: fixed;
  display: inline;
  left: 0px;
  top: 0px;
  z-index: -5;
  background-color: #263238;
}

#maincard {
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  top: 50px;
  position: absolute;
}

.mat-raised-button {
  width: 100%;
}